@import '../core/variables';
.contact__icon {
  width: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.contact {
  position: relative;
  align-items: center;
  gap: 7px;
}
.links-container {
  position: absolute;
  top: -70px;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
