@import '../core/variables';
/* Header */
.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 5rem;
}
.nav-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.works {
  text-align: center;
}
