@import '../core/variables';
/* Header */
.header {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 5rem;
}
.nav-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}
.works {
  text-align: center;
}
.enlace-nav {
  text-decoration: none;
  color: black;
}
