@import '../core/variables';
.container_article {
  margin-bottom: 10rem;
}
.projects__article {
  width: 90%;
  text-align: center;
  padding-left: 2rem;
  text-decoration: none;
  padding-bottom: 5rem;
  &--image {
    width: 80%;
    margin-bottom: 2rem;
  }
  &--description {
    text-decoration: none;
  }
}
.n {
  text-decoration: none;
  color: black;
}
