@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root {
  --dark: #ee1431;
  --darkBlue: #110246;
  --medBlue: #f80c34;
  --lightBlue: #579199;
  --light: #e7eff0;
}
