@import 'core/reset';
@import 'core/variables';

main {
  height: 100%;
}

.contact__icon {
  width: 50px;
}

.about_photo1_img {
  width: 300px;
}
.about_photo2_img {
  width: 300px;
}
.about_photo3_img {
  width: 300px;
}
.projects__article--image {
  width: 400px;
}
